<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.john.ctronnel">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Data.FileActivity"></activity>
        <activity android:name=".Data.SharedPreferenceActivity" />
        <activity android:name=".Data.DataStorageActivity" />
        <activity android:name=".HandlerActivity" />
        <activity android:name=".fragment.ContinerActivity" />
        <activity android:name=".PopupWindowActivity" />
        <activity android:name=".CustomDialogActivity" />
        <activity android:name=".ProgressActivity" />
        <activity android:name=".AlertDialogActivity" />
        <activity android:name=".UIActivity" />
        <activity android:name=".ToastActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".recycleView.PuRecyclerViewActivity" />
        <activity android:name=".recycleView.GridRecyclerViewActivity" />
        <activity android:name=".recycleView.HorRecyclerViewActivity" />
        <activity android:name=".recycleView.LinearRecycleViewActivity" />
        <activity android:name=".recycleView.recycleViewActivity" />
        <activity android:name=".ImageActivity" />
        <activity android:name=".listView.ListActivity" />
        <activity android:name=".gridview.GridViewActivity" />
        <activity android:name=".LifeActiviy" />
        <activity
            android:name=".jump.AActivity"
            android:label="A"
            android:launchMode="singleTop" />
        <activity
            android:name=".jump.BActivity"
            android:label="B"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.john.zhao.BActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="My Application"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>